SECRET_KEY = 'SECRET_KEY'

DEBUG = True


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'DB_NAME',
        'USER': 'DB_USER',
        'PASSWORD': 'DB_PASSWORD',
        'HOST': 'DB_HOST',
        'PORT': '',
    }
}


SOCIAL_AUTH_GITHUB_KEY = 'Github app key'
SOCIAL_AUTH_GITHUB_SECRET = 'Github app secret'

SOCIAL_AUTH_FACEBOOK_KEY = 'id'  # App ID
SOCIAL_AUTH_FACEBOOK_SECRET = 'key'

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY ='key'  #Paste client Key
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'secret' #Paste client Secret Key