{% extends 'blog/base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.body }}</p>
    <p>Author: {{ object.author }}</p>
    <p>Published: {{ object.published|date }}</p>
    <p>Date: {{ now|date }}</p>
    <p>Tags:
        {% for tag in object.tags.all %}
            <a href='{% url "tagged-article-list" tag.title %}'>{{ tag.title }}</a>
        {% endfor %}
    </p>
    <ul>
        <li><a href='{% url "article-list" %}'>ALL ARTICLES</a></li>
        {% if user.is_staff %}
            <li><a href='{% url "article-create" %}'>NEW ARTICLE</a></li>
            <li><a href='{% url "article-edit" object.pk %}'>EDIT</a></li>
            <li><a href='{% url "article-delete" object.pk %}'>DELETE</a></li>
        {% endif %}
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% endif %}
    {% for comment in object.comments.all %}
        <div class="comment">
            <div><strong>{{ comment.author }}</strong> posted {{ comment.created_on }}
                {% if user.is_staff and not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span>REMOVE</span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span>APPROVE</span></a>
                {% endif %}

            </div>
            <p>{{ comment.text|linebreaks }}</p>
            <HR>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}