{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="card my-3">
  <div class="card-body">
    <form action="" method="post">{% csrf_token %}
        <div class="jumbotron jumbotron-fluid bg-light mb-0 py-3">
          <div class="container">
            <h1 class="">{% render_field form.title class+="bg-light mb-0 display-4" placeholder="Title" %}</h1>
            <p class="font-weight-bold">{% render_field form.subtitle class+="bg-light px-1 font-weight-bold font-italic" placeholder="Subtitle" %}</p>
          </div>
        </div>
        <div class="container">
          <div class="row">
                <div class="col">
                    <p class="font-weight-bold">by {{ user }}</p>
                </div>
                <div class="row mr-3 font-weight-bold">
                    <p>{{ now|date:"l, dS F Y" }}</p>
                </div>
          </div>
        </div>
        <p>{% render_field form.body rows="10" cols="30" placeholder="Body" id="html_field" %}</p>
        <p>{% render_field form.author %}</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <p>{% render_field form.tags class+="custom-select" %}</p>
            </div>
            <div class="col">
              <input class="btn btn-outline-success btn-sm" type="submit" value="UPDATE" />
            </div>
          </div>
        </div>
    </form>
  </div>
</div>

    <div class="row my-3">
        <div class="col">
        </div>
        <div class="col">
            <p class="text-right">
                <a href='{% url "article-list" %}' class="btn btn-outline-danger btn-sm">CANCEL</a>
            </p>
        </div>
    </div>

</form>




{% endblock %}