{% extends 'blog/base.html' %}

{% block title %}Article List{% endblock %}

{% block content %}
    <div class="mt-3 bg-secondary text-white rounded">
      <div class="container">
        <h1 class="display-8 pt-1 pb-3 mb-0">News <span class="h6">as at {{ now|date }}</span></h1>
      </div>
    </div>
    <div class="list-group">
        {% for article in object_list %}
            <a href='{% url "article-detail" article.pk %}' class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ article.title }}</h5>
                  <small>{{ article.author }}</small>
                </div>
                {# <p class="mb-1">{{ article.preview }}</p>#}
                <small>more...</small>
          </a>
        {% empty %}
            <a href='{% url "article-list" %}' class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">No {{ filtered_by }} articles yet.</p>
                </div>
            </a>
        {% endfor %}
    </div>
    {% if filtered_by %}
        <p class="mt-1 pl-3">Articles filtered by: {{ filtered_by }}</p>
    {% endif %}



    {% include "blog/includes/_tags.html" %}

{% endblock %}
