{% extends 'blog/base.html' %}

{% block title %}Article List{% endblock %}

{% block content %}
<h2>Article List as at <span>{{ now|date }}</span></h2>
    {% if filtered_by %}
        <p>Articles filtered by: {{ filtered_by }}</p>
    {% endif %}
    <ul>
    {% for article in object_list %}
        <li><a href='{% url "article-detail" article.pk %}'>{{ article.title }} - {{ article.author }}</a></li>
    {% empty %}
        <li>No {{ filtered_by }} articles yet.</li>
    {% endfor %}
    </ul>
    <ul>
        {% if user.is_staff %}
        <li>
            <a href='{% url "article-create" %}'>NEW ARTICLE</a>
        </li>
        {% endif  %}
        {% if filtered_by %}
            <li><a href='{% url "article-list" %}'>ALL ARTICLES</a></li>
        {% endif %}
    </ul>
    <p>Tags:
        {% for tag in tags.all %}
            <a href='{% url "tagged-article-list" tag.title %}'>{{ tag.title }}</a>
        {% endfor %}
    </p>

{% endblock %}
