{% extends 'project/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=yc7n1w2y1k3g9l54059zsrsbdjhl7mbeadcqjg10pyuxamqa"></script>
  <script>tinymce.init({
        selector: "#html_field",
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help wordcount codesample'
          ],
        toolbar: 'insert | undo redo |  formatselect | bold italic forecolor backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table codesample  | code help'
        });
  </script>
{% endblock %}