SECRET_KEY = 'SECRET_KEY'

DEBUG = True


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'DB_NAME',
        'USER': 'DB_USER',
        'PASSWORD': 'DB_PASSWORD',
        'HOST': 'DB_HOST',
        'PORT': '',
    }
}

SOCIAL_AUTH_GITHUB_KEY = 'KEY'
SOCIAL_AUTH_GITHUB_SECRET = 'SECRET'

SOCIAL_AUTH_FACEBOOK_KEY = 'APP ID'  # App ID
SOCIAL_AUTH_FACEBOOK_SECRET = 'SECRET'

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY ='KEY.apps.googleusercontent.com'  #Paste CLient Key
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'SECRET'  #Paste Secret Key

AWS_ACCESS_KEY_ID = 'KEY_ID'
AWS_SECRET_ACCESS_KEY = 'KEY'


