{% extends '../base.html' %}
{% load widget_tweaks %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      <p>{% render_field form.new_password1 placeholder="New password" %}</p>
      <p>{% render_field form.new_password2 placeholder="Confirm password" %}</p>
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}